body {
  background-color: #0a0a23;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@keyframes spin-fade {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  50% {
    opacity: 0.5;
    transform: rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

.animate-spin-fade {
  animation: spin-fade 0.6s ease-in-out;
}

/* ===== HERO BG CUSTOM CLASSES ===== */

.hero-bg-mask {
  clip-path: inset(5vh 0 0 0 round 1rem);
}

.hero-bg-container {
  height: 87vh;
  width: 99%;
  z-index: -1;
}

.hero-img {
  height: 87vh;
  width: auto;
}

.hero-bg-mask {
  clip-path: inset(5vh 0 0 0 round 1rem);
}

.hero-bg-container {
  height: 87vh;
  width: 99%;
  z-index: -1;
}

.hero-img {
  height: 87vh;
  width: auto;
}

.hero-stroke {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 1.2s ease;
}

.group:hover .hero-stroke {
  stroke-dashoffset: 0;
}