/* Hero.css */
.typing {
    overflow: hidden;
    border-right: .15em solid #fff;
    white-space: nowrap;
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white
    }
}